.yith-wcbm-badge-313{ top: 0px;bottom: auto;left: auto;right: 0px; opacity: 1; }.yith-wcbm-badge-313 .yith-wcbm-badge__wrap{ -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }			.yith-wcbm-css-badge-313{
    color: #FFFFFF;
    font-family: "Open Sans",sans-serif;
    position:relative;
    box-sizing: border-box;
    position: absolute;
    background-color: transparent;
    width: 65px;
    height: 65px;
    overflow:hidden;
}
.yith-wcbm-css-badge-313 div.yith-wcbm-css-s1{
    position: absolute;
    z-index: 12;
    top:0;
    left:2px;
    border-bottom: 4px solid #5b7a3d;
    border-left: 3px solid transparent;
    width:10px;
}

.yith-wcbm-css-badge-313 div.yith-wcbm-css-s2{
    position: absolute;
    z-index: 12;
    bottom:2px;
    right:0px;
    border-left: 4px solid #5b7a3d;
    border-bottom: 3px solid transparent;
    height:10px;
}

.yith-wcbm-css-badge-313 div.yith-wcbm-css-text{
    background: #99cc66;
    font-size: 10px;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    text-align: center;
    z-index: 14;
    -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       transform: rotate(45deg);
    top: 11px;
    left: -7px;
    width: 100px;
    text-align: center;
}
.yith-wcbm-badge-312{ top: 0px;bottom: auto;left: auto;right: 0px; opacity: 1; }.yith-wcbm-badge-312 .yith-wcbm-badge__wrap{ -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }        .yith-wcbm-on-sale-badge-312{
color: #FFFFFF;
font-family: "Open Sans",sans-serif;
width:51px;
height:32px;
position:relative;
box-sizing: border-box;
position: absolute;
background: transparent;
}
.yith-wcbm-on-sale-badge-312 .yith-wcbm-shape1{
width:51px;
height:25px;
position:relative;
box-sizing: border-box;
position: absolute;
top:0px;
right:0px;
background: #221177;
}
.yith-wcbm-on-sale-badge-312 .yith-wcbm-shape1:before{
content: '';
width:0;
height: 0;
position: absolute;
bottom: -6px;
left:22px;
border-left: 3px solid transparent;
border-top: 6px solid #221177;
border-right: 3px solid transparent;
}

.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-percentage .yith-wcbm-sale-percent{
position: absolute;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 600;
line-height: 0px;
top:12px;
right:21px;
}
.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-percentage .yith-wcbm-sale-percent:before{
content: '-';
}

.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-percentage .yith-wcbm-simbol-percent{
position: absolute;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 0px;
top:13px;
right:10px;
}

.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-amount .yith-wcbm-saved-money{
position: absolute;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 13px;
line-height: 0px;
top:12px;
left:0;
width:100%;
text-align: center;
}

.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-amount .yith-wcbm-saved-money:before{
content: '-';
}

.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-amount .yith-wcbm-sale-percent,
.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-amount .yith-wcbm-simbol-percent,
.yith-wcbm-on-sale-badge-312.yith-wcbm-advanced-display-percentage .yith-wcbm-saved-money,
.yith-wcbm-on-sale-badge-312 .yith-wcbm-simbol-off,
.yith-wcbm-on-sale-badge-312 .yith-wcbm-save,
.yith-wcbm-on-sale-badge-312 .yith-wcbm-simbol-sale,
.yith-wcbm-on-sale-badge-312 .yith-wcbm-simbol-sale-exclamation,
.yith-wcbm-on-sale-badge-312 .yith-wcbm-saved-money-value,
.yith-wcbm-on-sale-badge-312 .yith-wcbm-saved-money-currency{
display: none;
}


.wc_payment_method label img {
    float: right !important;
    height: 24px !important;
    margin-top:3px !important;
}
.wooccm-type-file label .optional{
display:none;
}
.descriyape {
    background: #742284 !important;
    color: #fff !important;
    padding: 4% !important;
    font-size: 14px !important;
    border-radius: 10px !important;
	display: grid !important;
}
.descriplin {
background: rgb(34,162,252);
background: linear-gradient(45deg, rgba(34,162,252,1) 0%, rgba(0,226,205,1) 60%); 
    color: #fff !important;
    padding: 4% !important;
    font-size: 14px !important;
    border-radius: 10px !important;
	display: grid !important;
}
.logoyape, .descripcion{
    width: 50% !important;
    float: left !important;
	text-align:center !important;
}
.descripcion b{
    font-weight: bold !important;
}
.logoyape img{
    width: 80% !important;
    height: 80% !important;
    max-height: 90% !important;
    margin-right: 20% !important;
    clear: both !important;
	border-radius: 10px !important;
	margin-bottom:10px !important;
}
.titularyapeplin{
    display: block !important;
    margin-right: 20% !important;
    width: 80% !important;
    color: #fff !important;
    text-decoration: none !important;
    line-height: 1.2 !important;
    font-weight: bold !important;
	font-size: 16px !important;
    text-align: center !important;
    text-transform: uppercase !important;
}
.marcayape{
    width: 100% !important;
    height: 100px !important;
    background-image: url(https://i.postimg.cc/pd4ZB7SH/finalizaryape.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.marcaplin{
    width: 100% !important;
    height: 100px !important;
    background-image: url(https://i.postimg.cc/15sKMDvf/finalizarplin.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.estiloyapeplin{
	overflow: overlay !important;
	padding: 15px 0 !important;
}
.contactoyape {
    font-size: 15px !important;
    display: grid !important;
    background: #10cbb4 !important;
    color: #fff !important;
    border-radius: 8px !important;
    line-height: 1.1 !important;
    padding: 8px 1% !important;
	  text-decoration:none !important;
    text-transform: initial !important;
    font-weight: bold !important;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 0.3s ease-in-out !important;
    text-align: center !important;
	margin-top: 10px !important;
}
.contactoyape:hover{
	background: #24e0c9 !important;
}
.contactoplin {
    font-size: 15px !important;
    display: grid !important;
    background: #fe57d9 !important;
    color: #fff !important;
    border-radius: 8px !important;
    line-height: 1.1 !important;
    padding: 8px 1% !important;
	  text-decoration:none !important;
    text-transform: initial !important;
    font-weight: bold !important;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transition: all 0.3s ease-in-out !important;
    text-align: center !important;
	margin-top: 10px !important;
}
.contactoplin:hover{
	background: #f977dc !important;
}
.selloseguridad{
    width: 100% !important;
    height: 40px !important;
    background-image: url(https://i.postimg.cc/h4mB8wT8/pago-seguro-solutionmaker.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
body.woocommerce-order-received .descriyape{
width: 501px !important;
margin-bottom: 4% !important;
}
body.woocommerce-order-received .descriplin{
width: 501px !important;
margin-bottom: 4% !important;
}
@media screen and (min-width: 5px) and (max-width: 500px){
	.descriyape{
text-align:center;
	}
.logoyape, .descripcion{
    width: 100% !important;
    float: none !important;
}
.logoyape img{
    width: 70% !important;
    height: 70% !important;
    max-height: 90% !important;
    margin-right: 15% !important;
	margin-left:15% !important;
	margin-bottom:10px !important;
}
.titularyapeplin{
  width: 80% !important;
	margin-right: 10% !important;
	margin-left:10% !important;
}
body.woocommerce-order-received .descriyape{
width: 100% !important;
}
body.woocommerce-order-received .descriplin{
width: 100% !important;
}

}
